:root
{
    --vermelho-1: #a01420;
    --vermelho-2: #be041b;

    --cinza-1: #d6d6d6;

    --bege-1: #f6e7d4;
}

*
{
    margin: 0;
    padding: 0;
}

.cabecalho
{
    height: 5rem;
    background-color: var(--vermelho-1);
}

.logo-iblood
{
    height: 3.5rem;
}

.navegacao
{
}